<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/myMessage.css">
  <script src="../public/js/fontsizeset.js"></script>
</head>
<body>
  <div id="status_bar">
    <img alt="Vue logo" src="../public/images/状态栏@2x.png" class="state">
    <!-- <router-link to="/PhonePage"> --> <a href="/PhonePage"> <img src="../public/images/Return@2x.png" alt="" class="return"><!-- </router-link> --></a>
    <span class="My">我的</span>
    <img src="../public/images/Headportrait@2x.png" alt="" class="head_portrait">
    <span class="Account_number">2154003540</span>
    <div class="notice">
      <span class="notice_message">通知消息</span>
      <img src="../public/images/Returnblack@2x.png" alt="" class="return_black_one">
    </div>
    <div class="notice_two">
      <span class="notice_message_two">修改密码</span>
      <img src="../public/images/Returnblack@2x.png" alt="" class="return_black_two">
    </div>
    <div class="notice_three">
      <span class="notice_message_three">意见反馈</span>
      <img src="../public/images/Returnblack@2x.png" alt="" class="return_black_three">
    </div>
    <div class="notice_four">
      <span class="notice_message_four">关于</span>
      <img src="../public/images/Returnblack@2x.png" alt="" class="return_black_four">
    </div>
    <router-link to='/login'><div class="drop_out">
      退出登录
    </div></router-link>
    <!-- <meta http-equiv="refresh" content="5;URL=/jemp"> -->
    <span class="zero">0</span>
  </div>
</body>
</html>