<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- url里面加跳转的路径 -->
    <meta http-equiv="refresh" content="3;URL=/myMessage">
    <title>广告页面</title>
    <link rel="stylesheet" href="/public/css/basic.css">
    <script src="/public/js/fontsizeset.js"></script>
</head>
<body>
    <div class="conter">
        <div class="head">
            <div style="position: absolute;width:7.5rem;">
                <img src="/public/images/head_log.png" alt="" class="head_log">
            </div>
        <img src="/public/images/head_logs.png" alt="" class="head_logs">
        </div>
        <div class="footer">
            <h3 class="footer_title">智能保险箱</h3>
            <div class="footer_right">
                <h4 class="footer_right_titles">有安全感，才能稳稳地幸福</h4>
            </div>
        </div> 
    </div>
</body>
</html>